{% extends "padre.html" %}

{% block titulo %}
{{ parent() }} : Actividad
{% endblock %}

{% block importaciones %}
<link rel="stylesheet" href="css/estilo_actividad.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/script.js" defer></script>
<script src="./js/general.js" defer></script>

{% endblock %}

{% block contenido %}
    <!-- Elemento principal de la página web. Contenido de la actividad -->
    <article class="descripcion-actividad">
        <h2>{{ actividad["nombre"] }} </h2>
        <h4>Fecha de realización: {{ actividad["fecha"] }}</h4>
        <h5>Por sólo {{ actividad["precio"] }}</h5>
        <p class="formato-texto">{{ actividad["contenido"] }}</p>


        <!-- para marcar la foto en el documento, agrupar y etiquetar el contenido multimedia -->
        <figure class="contenedor-dos-imagenes">
            <div class="contenedor-columna">
                <img src={{ actividad["imagen1"] }} alt={{ actividad["pie_imagen1"] }} class="imagen-escalada">
                <figcaption class="formato-texto centrar-texto">{{ actividad["pie_imagen1"] }}</figcaption>
            </div>
            <div class="contenedor-columna">
                <img src={{ actividad["imagen2"] }} alt={{ actividad["pie_imagen2"] }} class="imagen-escalada">
                <figcaption class="formato-texto centrar-texto">{{ actividad["pie_imagen2"] }}</figcaption>
            </div>

        </figure>


        <p class="formato-texto">
            Material necesario:
        </p>
        <ul>
            {% for material in actividad["materiales"] %}
            <li class="formato-texto">{{ material }}</li>
            {% endfor %}

        </ul>

        <p class="formato-texto">
            Nivel de dificultad: {{ actividad["dificultad"] }}
        </p>

        <p class="formato-texto">
            Duración: {{ actividad["duracion"] }}
        </p>

        <p class="formato-texto">
            Edad mínima: {{ actividad["edad_minima"] }}
        </p>

        <p class="formato-texto">Enlaces a otras páginas que deberías ver: </p>

        <ul>
            {% for enlace in actividad["enlaces"] %}
            <li class="formato-texto"><a href={{ enlace }} target="_blank" class="enlace-basico">{{ enlace }}</a></li>
            {% endfor %}
        </ul>

        <nav class="iconos">
            <div>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="./img/facebook.png" id="icono-facebook">
                </a>
            </div>
            <div>
                <a href="https://www.twitter.com/" target="_blank">
                    <img src="./img/twitter.png" id="icono-twitter">
                </a>
            </div>

            <div>
                <a href={{ actividad["imprimir"] }}>
                    <img src="./img/imprimir.png" id="icono-imprimir">
                </a>
            </div>



        </nav>

    </article>

{% endblock %}


{% block comentarios %}
    {% if sesion_iniciada %}

        <aside class="menu-comentarios">
            <button id="mostrarComentarios">
                <img src="./img/comentarios.png" alt="Icono comentarios">
                <figcaption class="formato-texto centrar-texto texto-claro">Mostrar/Ocultar Comentarios</figcaption>
            </button>
            <div class="comentarios oculto">
                <h2 class="texto-centrado texto-claro">Comentarios</h2>

                <p class="formato-texto texto-centrado texto-claro">¿Te ha gustado la actividad? ¿Quieres dejar un comentario?</p>

                <h3 class="formato-texto texto-claro">Dejanos tu comentario:</h3>
                <form id="formulario-comentario" action="guardar_comentario.php" method="post">

                    <input type="hidden" id="nombre" name="nombre" value={{ nombre }}>
                    <input type="hidden" id="email" name="email" value={{ email }}>
                    <input type="hidden" id="id_actividad" name="id_actividad" value={{ id_actividad }}>

                    <label for="texto-comentario" class="texto-claro texto-mediano">Comentario:</label>
                    <textarea name="texto-comentario" id="texto-comentario" rows="4" required></textarea>

                    <button type="submit" id="enviar" class="boton">Publicar Comentario</button>
                    <button type="reset" id="borrador" class="boton">Limpiar Contenido</button>
                    
                </form>
                
                {% for comentario in comentarios %}
                <div class="caja-comentario">
                    <p class="autor">
                        {{ comentario["nombre"] }}
                    </p>
                    <p class="fecha-hora">
                        {{ comentario["fecha"] }} {{ comentario["hora"] }}
                    </p>
                    <p class="texto-comentario">
                        {{ comentario["comentario"] }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </aside>
    {% endif %}
{% endblock %}

