{% extends "padre.html" %}

{% block titulo %}
{{ parent() }} : Actividad
{% endblock %}

{% block importaciones %}
<link rel="stylesheet" href="css/estilo_actividad.css" type="text/css">
<script src="./js/script.js" defer></script>
{% endblock %}

{% block contenido %}
    <!-- Elemento principal de la página web. Contenido de la actividad -->
    <article class="descripcion-actividad">
        <h2>Escalada </h2>
        <h4>Fecha de realización: 03/06/2024</h4>
        <h5>Por sólo 59.99€</h5>
        <p class="formato-texto">La escalada es una actividad deportiva que consiste en subir por paredes de roca,
            montañas o estructuras artificiales. Se puede practicar en interiores o exteriores. La escalada en roca se realiza en paredes
            naturales, mientras que la escalada en hielo se realiza en cascadas de hielo. La escalada en bloque se
            realiza en bloques de roca de pequeño tamaño. La escalada deportiva se realiza en paredes artificiales y
            la escalada en solitario se realiza sin compañero de cuerda. La escalada en grandes paredes se realiza
            en paredes de gran altura y la escalada en psicobloc se realiza sobre el agua.</p>


        <!-- para marcar la foto en el documento, agrupar y etiquetar el contenido multimedia -->
        <figure class="contenedor-dos-imagenes">
            <div class="contenedor-columna">
                <img src="img/escalada.jpg" alt="Escalada" class="imagen-escalada">
                <figcaption class="formato-texto centrar-texto">Escalador profesional</figcaption>
            </div>
            <div class="contenedor-columna">
                <img src="img/escalada2.jpg" alt="Escalada" class="imagen-escalada">
                <figcaption class="formato-texto centrar-texto">Prácticas de escalada</figcaption>
            </div>

        </figure>


        <p class="formato-texto">
            Material necesario:
        </p>
        <ul>
            <li class="formato-texto">Ropa cómoda</li>
            <li class="formato-texto">Zapatillas de escalada</li>
            <li class="formato-texto">Cuerda</li>
            <li class="formato-texto">Arnes</li>
            <li class="formato-texto">Descensor</li>
            <li class="formato-texto">8 cintas exprés</li>
            <li class="formato-texto">2 mosquetones de seguridad</li>
            <li class="formato-texto">2 cordinos</li>
            <li class="formato-texto">1 casco</li>
            <li class="formato-texto">1 magnesio</li>
        </ul>

        <p class="formato-texto">
            Nivel de dificultad: 3/5
        </p>

        <p class="formato-texto">
            Duración: 4 horas
        </p>

        <p class="formato-texto">
            Edad mínima: 12 años
        </p>

        <p class="formato-texto">Enlaces a otras páginas que deberías ver: </p>

        <ul>
            <li class="formato-texto"><a
                    href="https://www.pasoclave.com/tipos-escalada-diferencias-estilos-materiales/" target="_blank"
                    class="enlace-basico">Tipos de escalada.</a></li>
            <li class="formato-texto"><a
                    href="https://www.barrabes.com/blog/consejos/2-10965/indispensables-escalada-deportiva-material-obligatorio"
                    target="_blank" class="enlace-basico">Material indispensable para la escalada.</a></li>
        </ul>

        <nav class="iconos">
            <div>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="./img/facebook.png" id="icono-facebook">
                </a>
            </div>
            <div>
                <a href="https://www.twitter.com/" target="_blank">
                    <img src="./img/twitter.png" id="icono-twitter">
                </a>
            </div>

            <div>
                <a href="imprimir.html">
                    <img src="./img/imprimir.png" id="icono-imprimir">
                </a>
            </div>



        </nav>

    </article>

{% endblock %}

{% block comentarios %}

    <aside class="menu-comentarios">
        <button id="mostrarComentarios">
            <img src="./img/comentarios.png" alt="Icono comentarios">
            <figcaption class="formato-texto centrar-texto texto-claro">Mostrar/Ocultar Comentarios</figcaption>
        </button>
        <div class="comentarios oculto">
            <h2 class="texto-centrado texto-claro">Comentarios</h2>

            <p class="formato-texto texto-centrado texto-claro">¿Te ha gustado la actividad? ¿Quieres dejar un comentario?</p>

            <h3 class="formato-texto texto-claro">Dejanos tu comentario:</h3>
            <form id="formulario-comentario">

                <!-- for indica a que input quiero ponerle el nombre -->
                <label for="nombre" class="texto-claro texto-mediano">Nombre:</label>
                <!-- Defino el tipo de entrada de texto, un identificador y  un nombre para el valor-->
                <input type="text" id="nombre" name="nombre" required>

                <label for="email" class="texto-claro texto-mediano">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="texto-comentario" class="texto-claro texto-mediano">Comentario:</label>
                <textarea name="texto-comentario" id="texto-comentario" rows="4" required></textarea>

                <button type="submit" id="enviar" class="boton">Publicar Comentario</button>
                <button type="reset" id="borrador" class="boton">Limpiar Contenido</button>
                
            </form>
            <div class="caja-comentario" id="comentario1">
                <p class="autor">
                    Juan Palomo
                </p>
                <p class="fecha-hora">
                    10/09/2021 11:40
                </p>
                <p class="texto-comentario">
                    Tened cuidado con los precios, no son los que aparecen en la página web.
                </p>

            </div>
            <div class="caja-comentario" id="comentario2">
                <p class="autor">
                    Aitor Tilla
                </p>
                <p class="fecha-hora">
                    03/06/2023 12:00
                </p>
                <p class="texto-comentario">
                    Me ha encantado la actividad, la recomiendo a todo el mundo.
                </p>
            </div>
        </div>
    </aside>

{% endblock %}
