{% extends "padre.html" %}

{% block titulo %}
{{ parent() }} : Crear una cuenta
{% endblock %}

{% block importaciones %}
{{ parent() }}
{% endblock %}

{% block contenido %}
<p>Creación de cuenta de usuario</p>
<form action="signup.php" method="post">
    Nombre: <input type="text" name="nombre" /><br>
    Email: <input type="text" name="email" /><br>
    Contraseña: <input type="password" name="password" /><br>
    <input type="submit" value="Loguearse" />
</form>

<a href="login.php">Iniciar sesión</a>
{% endblock %}